.card {
  max-width: 65%;
  margin: 0 auto 31px auto;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview {
  width: 122px;
  height: 122px;
  margin-right: -11%;
}

.title {
  width: 40%;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
}

.inner {
  display: flex;
  width: 120px;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #D58C51;
}

.circle {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #D58C51;
  cursor: pointer;
}

.circle:hover {
  background-color: #D58C51;
}

.circle:hover .cross {
  fill: #161516;
}

.cross {
  width: 12.2px;
  height: 12.2px;
  padding: 9px;
  fill: #D58C51;
}

@media (min-width:780px) and (max-width:1079px) {
  .card {
    max-width: 600px;
  }
}

@media (max-width:779px) {
  .card {
    max-width: 600px;
  }
}